/gr-book-ids.csv.gz
/gr-book-ids.parquet
/gr-work-ratings.parquet
/gr-work-titles.parquet
/gr-work-actions.parquet
/gr-work-titles.csv.gz
/gr-work-authors.parquet
/gr-work-authors.csv.gz
/gr-work-genres.parquet
/gr-work-genres.csv.gz
/gr-work-genders.parquet
/gr-work-genders.csv.gz
