/ol-index.transcript
/loc-mds-index-books.transcript
/loc-mds-index-names.transcript
/viaf-index.transcript
/gr-index-ratings.transcript
/gr-index-books.transcript
/az-index.transcript
/bx-index.transcript
/loc-mds-book-info.transcript
/ol-book-info.transcript
/gr-book-info.transcript
/isbn-norm.transcript
