# *.ipynb	diff=jupyternotebook
# *.ipynb	merge=jupyternotebook
*.cmd text eol=crlf
*.sh text eol=lf
Cargo.lock text eol=lf
*.json text eol=lf
# GitHub syntax highlighting
pixi.lock linguist-language=YAML linguist-generated=true
