/node_modules
/typings
.ipynb_checkpoints/
/out
*.out
*.log
*.csv
*.so
*.status
.history
perf.data*
oprofile_data
profdata/
/.vscode
.pytest_cache/
__pycache__/
*venv/

.cargo/
/target
**/*.rs.bk
*.snappy
db.cfg
*.gml
*.graphml
/loc-mds-extract-isbns.transcript
/book-coverage.json
/LinkageStats.html
/ClusterStats.html

/.quarto/
/LinkageStats_files
/ClusterStats_files
