/node_modules
/typings
/.ipynb_checkpoints
/out
*.log
*.so
*.status
.history
perf.data*
oprofile_data
/.vscode
.pytest_cache/
__pycache__/
*venv/

/target
**/*.rs.bk
*.snappy
db.cfg
*.gml
*.graphml
/loc-mds-extract-isbns.transcript
