[package]
name = "bookdata"
version = "0.1.0"
authors = ["Michael Ekstrand <michaelekstrand@boisestate.edu>"]

[dependencies]
structopt = "0.2"
quick-xml = "^0.13.0"
flate2 = "1.0.6"
indicatif = "0.11"
console = "0.7"
zip = "0.5.0"
log = "^0.4.0"
derive_more = "0.9"
uuid = { version = "0.5", features = ["v1", "v4", "v5"] }
os_pipe = "0.8.1"
postgres = { version="0.15.2", features=["with-uuid"] }
crossbeam-channel = "0.3"
