[package]
name = "bookdata"
version = "0.1.0"
authors = ["Michael Ekstrand <michaelekstrand@boisestate.edu>"]
edition = "2018"

[dependencies]
structopt = "0.2"
quick-xml = "^0.17.2"
flate2 = "1.0.6"
indicatif = "0.11"
console = "0.7"
ntriple = {git = "https://github.com/mdekstrand/ntriple", branch="quiet"}
zip = "0.5.0"
log = { version = "^0.4.8", features = ["std"] }
derive_more = "0.9"
uuid = { version = "0.5", features = ["v1", "v4", "v5"] }
sha1 = { version = "0.6", features = ["std"] }
os_pipe = "0.8.1"
regex = "1"
fallible-iterator = "^0.1.4"
postgres = { version="0.15.2", features=["with-uuid"] }
glob = "0.3"
anyhow = "1.0.26"
serde = { version="1.0", features=["derive"] }
toml = "^0.5"
