name: bookdata
channels:
- mdekstrand
- defaults
- conda-forge  # last so it is not preferred
dependencies:
- python=3.7
- pip
- invoke
- docopt
- more-itertools
- psycopg2
- pandas
- numpy
- tqdm
- colorama
- seaborn
- sqlalchemy
- graph-tool
- sqlparse
- rust>=1.40
- postgresql>=12
- notebook
- ipywidgets
- requests
- html5lib
- gitpython
- dvc>=1.1
- boto3
- pip:
  - chromalog
  - natural
