/all-isbns.parquet
/isbn-clusters.parquet
/cluster-ol-first-authors.parquet
/cluster-loc-first-authors.parquet
/cluster-first-authors.parquet
/cluster-stats.parquet
/cluster-genders.parquet
/gender-stats.csv.gz
