/all-isbns.parquet
/isbn-clusters.parquet
/cluster-ol-first-authors.parquet
/cluster-loc-first-authors.parquet
/cluster-first-authors.parquet
/cluster-stats.parquet
/cluster-genders.parquet
/gender-stats.csv.gz
/cluster-codes.parquet
/book-graph.mp.zst
/gender-stats.csv
/cluster-hashes.parquet
/cluster-stats.json
/cluster-graph-edges.parquet
/cluster-graph-nodes.parquet
/cluster-nogr.parquet
/cluster-metrics.json
