/gr-interactions.parquet
/gr-cluster-actions.parquet
/gr-cluster-ratings.parquet
/gr-work-ratings.parquet
/gr-work-actions.parquet
/gr-users.parquet
/gr-cluster-ratings-5core.parquet
/gr-work-actions-5core.parquet
/gr-work-ratings-5core.parquet
/gr-cluster-actions-5core.parquet
/gr-work-ratings-2015-10core.parquet
/gr-work-actions-2015-100-10core.parquet
/gr-work-ratings-2015-100-10core.parquet
