/ol-authors.transcript
/ol-editions.transcript
/ol-works.transcript
/az-ratings.transcript
/bx-ratings.transcript
/loc-mds-books.transcript
/viaf.transcript
/gr-books.transcript
/gr-works.transcript
/gr-authors.transcript
/gr-interactions.transcript
/gr-book-series.transcript
/gr-book-genres.transcript
/loc-mds-names.transcript
