/authors.parquet
/author-names.parquet
/editions.parquet
/edition-works.parquet
/edition-isbns.parquet
/edition-authors.parquet
/works.parquet
/work-authors.parquet
/work-author-ids.parquet
/author-ids-after-works.parquet
