/ol_dump_authors.txt.gz
/ol_dump_works.txt.gz
/ol_dump_editions.txt.gz
/BX-CSV-Dump.zip
/BX-Book-Ratings.csv
/BX-Books.csv
/BX-Users.csv
/loc-books
/loc-names
/viaf-clusters-marc21.xml.gz
/id-graph.gt
