*.gz
*.csv
*.zip
*.txt
/goodreads_book_authors.json.gz
/goodreads_book_series.json.gz
/goodreads_books.json.gz
/goodreads_book_works.json.gz
/goodreads_interactions.json.gz
/ratings_Books.csv
/ol_dump_authors.txt.gz
/ol_dump_works.txt.gz
/ol_dump_editions.txt.gz
/BX-CSV-Dump.zip
/BX-Book-Ratings.csv
/BX-Books.csv
/BX-Users.csv
