/loc-books.parquet
/book-fields.parquet
/book-ids.parquet
/book-isbns.csv.gz
/book-authors.parquet
/book-isbns.parquet
/name-fields.parquet
/author-names.csv.gz
/author-genders.csv.gz
/book-isbn-ids.parquet
/loc-clusters.parquet
