/common-schema.transcript
/loc-id-schema.transcript
/loc-mds-schema.transcript
/bx-schema.transcript
/az-schema.transcript
/gr-schema.transcript
/ol-schema.transcript
/viaf-schema.transcript
/loc-id-aliases.transcript
