/gr-interactions.parquet
/gr-book-ids.parquet
/gr-book-info.parquet
/gr-work-info.parquet
/gr-users.parquet
/book-isbn-ids.parquet
/gr-cluster-ratings.parquet
/gr-book-link.parquet
/gr-cluster-actions.parquet
/gr-work-ratings.parquet
/gr-work-actions.parquet
/gr-work-gender.parquet
/gr-reviews.parquet
/gr-book-genres.parquet
/gr-genres.parquet
/gr-book-series.parquet
/gr-simple-interactions.parquet
/gr-cluster-simple-ratings.parquet
