/gr-interactions.parquet
/gr-book-ids.parquet
/gr-book-info.parquet
/gr-work-info.parquet
/gr-users.parquet
/book-isbn-ids.parquet
/gr-cluster-ratings.parquet
/gr-book-link.parquet
/gr-cluster-actions.parquet
/gr-work-ratings.parquet
/gr-work-actions.parquet
/gr-work-gender.parquet
/gr-reviews.parquet
/gr-book-genres.parquet
/gr-genres.parquet
/gr-book-series.parquet
/gr-simple-interactions.parquet
/gr-cluster-simple-ratings.parquet
/gr-book-authors.parquet
/gr-author-info.parquet
/gr-interactions.parquet
/gr-cluster-ratings.parquet
/gr-cluster-actions.parquet
/gr-work-actions.parquet
/gr-work-ratings.parquet
/gr-cluster-actions-5core.parquet
/gr-cluster-ratings-5core.parquet
/gr-work-ratings-5core.parquet
/gr-work-actions-5core.parquet
/gr-work-actions-2015-100-10core.parquet
/gr-work-ratings-2015-100-10core.parquet
/gr-work-item-info.parquet
/gr-work-item-titles.parquet
/gr-work-item-genres.parquet
